.cell {
  width: 65px;
  height: 65px;
  background-color: #00FF00;
}

.black {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: black;
}

.white {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: white;
}

.placeable {
  background-color: red;
}
